Temp
/UnityProject/TestUnityProject.CSharp.Editor.csproj
/UnityProject/TestUnityProject.sln
/UnityProject/TestUnityProject.CSharp.csproj
Library
.vs
/UnityProject/Assets/_Experiment.meta
_Experiment
/UnityProject/UnityProject.CSharp.csproj
/UnityProject/UnityProject.CSharp.Editor.csproj
/UnityProject/UnityProject.CSharp.Plugins.csproj
/UnityProject/UnityProject.sln
/UnityProject/UnityProject.userprefs
/UnityProject/Assembly-CSharp.csproj
/UnityProject/Assembly-CSharp-Editor.csproj
/UnityProject/UnityProject.CSharp.csproj.user
/UnityProject/UnityProject.CSharp.Editor.csproj.user
/UnityProject/UnityProject.CSharp.Plugins.csproj.user
/UnityProject/.vs/UnityProject/v14/.suo
/UnityProject/Assets/_Exp
/UnityProject/Assets/_Exp.meta
/UnityProject/Assembly-CSharp-firstpass.csproj
/UnityProject/Assembly-CSharp-firstpass-vs.csproj
/UnityProject/Assembly-CSharp-vs.csproj
/UnityProject/UnityProject-csharp.sln
/UnityProject/Assembly-CSharp-Editor-vs.csproj
/TempProjectDelete/Assets
